#sign-up-form {
    text-align: center;
    padding: 20px;
}
#sign-up-form > .input-field > div {
    width: 100%;
}
#sign-up-form > .input-field {
    display: block;
    position: relative;
    margin-bottom: 35px;
    width: 100%;
}
.error-message {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 11px;
    color: red;
    width: 240px;
}
.success {
    background-color: var(--color-foreground-success) !important;
}
.error {
    background-color: var(--color-foreground-error) !important;
}